@import "tailwindcss";

input {
  @apply w-full bg-white border border-gray-800/20 p-2 rounded shadow-xs focus:outline-none text-gray-950;
}

button {
  @apply w-full opacity-90 hover:opacity-100 border border-gray-800/20 p-2 rounded shadow-xs focus:outline-none text-white cursor-pointer;
}

th {
  @apply p-2 text-left text-nowrap;
}

td {
  @apply p-2 text-left text-nowrap;
}

.circle-button {
  @apply size-8 flex items-center justify-center opacity-90 hover:opacity-100 border border-gray-500/20 rounded-full shadow-xs text-white cursor-pointer font-semibold;
}
